# Name of the release cycle
cycle: mitaka

# Set of projects to consider in the report
projects:
 - nova
 - glance
 - swift
 - keystone
 - horizon
 - quantum
 - cinder
 - oslo

# Set of common words and phrases that shouldn't be
# counted as topics in frequency calculations
skiptopics:
 - barbican
 - castellan
 - ceilometer
 - cinder
 - glance
 - ironic
 - keystone
 - lbaas
 - neutron
 - nova
 - openstack
 - swift
 - grizzly
 - havana
 - icehouse
 - juno
 - liberty
 - mitaka
 - newton
 - api
 - vif
 - vm
