<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
 <head>
  <meta content="text/html; charset=utf8" http-equiv="Content-Type"/>
  <title>
   {{ series|capitalize }} release status
  </title>
  <script type="text/javascript"
          src="http://status.openstack.org/common.js"></script>


  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin"/>

  <!-- Framework CSS -->
  <link rel="stylesheet" type="text/css" href="http://www.openstack.org/themes/openstack/css/blueprint/screen.css" media="screen, projection"/>
  <link rel="stylesheet" type="text/css" href="http://www.openstack.org/themes/openstack/css/blueprint/print.css" media="print"/>
  <link rel="stylesheet" type="text/css" href="http://www.openstack.org/themes/openstack/css/main.css"/>

 </head>
 <body id="document">
  <script type="text/javascript">
   header('Release');
  </script>
  <div class="container">
   <div class="span-20">
    <h1>
     OpenStack Key Topics for {{ series }}
    </h1>
    <ul class="breadcrumbs">
     <li>
      Page refreshed at {{ date }} UTC
     </li>
    </ul>
   </div>
   <div class="span-4 last">
    <div id="chart_div">
    </div>
   </div>
  </div>
  <div class="container">
   <h2>
    Topic Frequency
   </h2>
   <table>
    <thead>
     <tr>
      <th>
       Topic
      </th>
      <th>
       Frequency
      </th>
     </tr>
    </thead>
    <tbody>
{% macro render_frequency(topic) -%}
     <tr>
      <td>
       {{ topic }}
      </td>
      <td>
       {{ frequency[topic] }}
      </td>
     </tr>
{%- endmacro %}
     {% for topic in frequency %}{{ render_frequency(topic) }}{% endfor %}
    </tbody>
   </table>
  </div>
  <script type="text/javascript">
   footer();
  </script>
 </body>
</html>
