<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
 <head>
  <meta content="text/html; charset=utf8" http-equiv="Content-Type"/>
  <title>
   Key Topics for {{ series|capitalize }}
  </title>
  <script type="text/javascript"
          src="http://status.openstack.org/common.js"></script>


  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin"/>

  <!-- Framework CSS -->
  <link rel="stylesheet" type="text/css" href="http://www.openstack.org/themes/openstack/css/blueprint/screen.css" media="screen, projection"/>
  <link rel="stylesheet" type="text/css" href="http://www.openstack.org/themes/openstack/css/blueprint/print.css" media="print"/>
  <link rel="stylesheet" type="text/css" href="http://www.openstack.org/themes/openstack/css/main.css"/>

  <!-- Page Specific CSS -->
  <link rel="stylesheet" type="text/css" href="http://status.openstack.org/reviews/combo.css" media="screen,print"/>

  <script type="text/javascript"
          src="http://status.openstack.org/reviews/sorting.js"></script>
  <script type="text/javascript"
          src="http://timdream.org/wordcloud2.js/src/wordcloud2.js"></script>

 </head>
 <body id="document">
  <script type="text/javascript">
   header('Release');
  </script>
  <div class="container">
   <div class="span-20">
    <h1>
     Key Topics for {{ series|capitalize }}
    </h1>
    <ul class="breadcrumbs">
     <li>
      Page refreshed at {{ date }} UTC
     </li>
    </ul>
   </div>
  </div>
  <div class="container">
   <div style="padding: 10px; position: relative; margin-bottom: 6px;">
    <canvas id="wordcanvas" class="canvas"
            style="left: 0px; top: 0px;"
            width=900 height="400">
    </canvas>
    <script type="text/javascript">
      wordlist = [
{% macro render_wordcloud_data(topic) -%}
                   ["{{ topic }}", {{ frequency[topic] }}],
{%- endmacro %}
     {% for topic in frequency %}{{ render_wordcloud_data(topic) }}{% endfor %}
       ];
      WordCloud(document.getElementById('wordcanvas'), { list: wordlist, color: 'random-dark', ellipticity: 10, rotateRatio: 0.7, weightFactor: 0.3, minSize: 8, gridSize: 8 } );
    </script>
   </div>
  </div>
  <div class="container">
   <table class="listing sortable" summary="key topic frequency">
    <thead>
     <tr>
      <th>
       <a class="sortheader" href="#" id="key-topic-name" onclick="ts_resortTable(this); return false;" title="Topic">
        Topic
        <img class="sortarrow" height="6" src="arrowBlank" width="9"/>
       </a>
      </th>
      <th>
       <a class="sortheader" href="#" id="key-topic-frequency" onclick="ts_resortTable(this); return false;" title="Frequency">
        Frequency
        <img class="sortarrow" height="6" src="arrowBlank" width="9"/>
       </a>
      </th>
     </tr>
    </thead>
    <tbody>
{% macro render_frequency(topic) -%}
     <tr>
      <td>
       <span class="sortkey">
        {{ topic }}
       </span>
       {{ topic }}
      </td>
      <td>
       <span class="sortkey">
        {{ -frequency[topic] }}
       </span>
       {{ frequency[topic] }}
      </td>
     </tr>
{%- endmacro %}
     {% for topic in frequency %}{{ render_frequency(topic) }}{% endfor %}
    </tbody>
   </table>
   <script type="text/javascript">
    ts_resortTable(document.getElementById("key-topic-frequency"))
   </script>
  </div>
  <script type="text/javascript">
   footer();
  </script>
 </body>
</html>
